rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tournaments/{id} {
      allow read: if true;
      allow write: if false;
    }
    match /registrations/{id} {
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}